:root {
  --color-textWhite: #fefefe;
  --color-text: #646464;
  --color-red: #ab0000;
  --color-blue: #0054a5;
  --color-background: #f2f2f2;
  --color-input: #e5e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.learn-list {
  display: block;
  margin-left: 24px;
  padding-bottom: 24px;
}

.learn-list ul {
  display: flex;
  list-style: none;
  border-bottom: 2px solid var(--color-input);
}

.learn-list ul li {
  margin-right: 28px;
  padding-bottom: 6px;
}

.learn-list ul li a {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.9rem;
  font-weight: 500;
}

.learn-list ul .learn-list-active {
  border-bottom: 2px solid var(--color-blue);
}

.learn-box {
  width: 240px;
  height: 62px;
  margin-left: 24px;
  display: flex;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 16px;
}

.learn-box-color-1 {
  background-color: #4dabf6;
}

.learn-box-color-2 {
  background-color: #8cc64b;
}

.learn-box-color-3 {
  background-color: #2ba690;
}

.learn-number {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 48px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 12px;
}

.learn-number p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
  color: white;
}

.learn-header {
  display: flex;
  align-items: center;
  height: 44px;
  width: 88px;
  margin-left: 20px;
  margin-top: 8px;
}

.learn-header p {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

/* learn */

.learn-info {
  display: block;
  background: white;
  margin: 4px 10px;
  padding-left: 24px;
  border-radius: 24px;
}

.exam-time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.exam-time-boder {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.set-boder {
  display: flex;
  border: 1px solid var(--color-input);
  border-radius: 16px;
  padding: 8px 0;
  width: 90%;
}

.exam-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 15px;
  border-right: 1px solid var(--color-input);
}

.exam-clock p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-red);
}

.exam-cout-down {
  display: block;
}

.time-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding: 0 16px;
  font-weight: 600;
}

.time-header p {
  font-size: 0.75rem;
  color: var(--color-text);
}

.time-number a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    color: #769fc7;
    font-weight: 400;
}


.learn-share {
    display: block;
    text-align: justify;
    margin-top: 16px;
}

.learn-share-exam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-input);
    width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.learn-share-exam-blue {
    display: block;
    text-align: start;
}

.learn-share-exam-blue h5 {
    color: var(--color-blue);
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 4px;
}

.learn-share-exam-blue p {
    font-size: 0.8rem;
    color: #8f8888;
}
.learn-share-exam-input {
    display: block;
    text-align: end;
}

.learn-share-exam-input h6 {
    font-size: 0.9rem;
    color: #504d4d;
    font-weight: 400;
}

.learn-share-exam-input p {
    font-size: 0.8rem;
    color: #8f8888;
}


/* chart box */

.learn-chart {
  display: inline-block;
  margin-top:16px;
  margin-right: 8px;
  margin-left: 4px;
}

.learn-chart p {
  font-size: 0.7rem;
    color: #837676;
    font-weight: 500;
    text-align: center;
    margin-top: 4px;
}