:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.avatar img {
    width: 3rem;
    border-radius: 50%;
}

.side-bar-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-bar-list .iconify {
    font-size: 2.4rem;
    margin: auto;
    color: var(--color-red);
}

.side-bar-header {
    display: block;
    text-align: center;
    padding-left: 1rem;
}

.side-bar-header h3 {
    font-size: 15px;
    font-weight: 700;
    color: rgb(90, 90, 90);
    margin: 0.5rem auto;
    text-transform: uppercase;
    text-align: start;
}

.side-bar-header p {
    margin: auto;
    color: var(--color-text);
    font-style: italic;
    text-align: start;
    font-size: 13px;
}

.navbar-input {
    display: block;
    text-align: center;
}

.navbar-input input {
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--color-text);
    background-color: #e5e2e2;
    width: 24rem;
    height: 0rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1.6rem;
}

.navbar-input a {
    font-size: 1.6rem;
    margin-left: -3rem;
    margin-bottom: -0.1rem;
    color: var(--color-red);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar .avatar-afer {
    display: flex;
    background-color: white;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 8px 8px 0 rgba(89, 91, 95, 0.11), 0 12px 18px 0 rgba(76, 79, 85, 0.11);
}

.avatar-notifi a {
    position: relative;
}

.avatar-notifi a::after {
    content: "52";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-red);
    z-index: 100;
    left: 1rem;
    text-align: center;
    display: block;
    color: white;
    bottom: 1.3rem;
    font-size: 1rem;
    box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%), 0 12px 90px 0 rgb(103 151 255 / 11%);
}

.avatar .avatar-link {
    display: flex;
    font-size: 1.5rem;
    margin-top: 0.6rem;
    position: absolute;
    z-index: 2;
    margin-left: 0.6rem;
}

.avatar-name {
    margin-left: -1rem;
    display: block;
}

.avatar-name a {
    text-decoration: none;
    color: var(--color-red);
    margin: auto;
}

.avatar-name p {
    margin-bottom: 5px;
}

.avatar-name h5 {
    text-decoration: none;
    color: var(--color-text);
}
