* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}

li {
    list-style: none;
}
.list-tabs ul {
    display: flex;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.list-tabs ul li {
    text-transform: uppercase;
}
.list-tabs ul li:nth-child(1) p {
    border-bottom: 2px solid var(--color-blue);
}
.list-tabs ul li p {
    font-weight: 600;
    margin-right: 30px;
    padding: 10px 0;
    font-size: 13px;
}
.contai-card {
    background-color: white;
    box-shadow: 0 0 10px rgb(216, 216, 216);
    border-radius: 10px;
    text-align: center;
    padding: 1.8em;
    margin-top: 1.2em;
}
.fa-clipboard-list-check {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #0194d9;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0 auto;
}
.text-status {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.text-status p {
    font-size: 17px;
    position: absolute;
    padding: 8px 20px;
    background-color: #22ac93;
    bottom: -23px;
    border-radius: 40px;
    color: white;
}

.title {
    color: var(--color-blue);
    font-size: 19px;
    font-weight: 600;
}

.date-time,
span {
    font-size: 14px;
    color: rgb(192, 192, 192);
}

.list-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.title-- {
    font-size: 1em;
    font-weight: 600;
    text-align: start;
}

.info {
    font-size: 1em;
    text-align: end;
    color: rgb(190, 190, 190);
}
.list-info p {
    margin-bottom: 7px;
}

.button-answer {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: var(--color-blue);
    padding: 12px;
    font-weight: 600;
    border-radius: 30px;
    width: 70%;
    border: none;
    font-size: 17px;
    color: var(--color-textWhite);
}

/* pagination */

.pagination {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pagination ul li.pagination-fs,
.pagination ul .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(226 226 239);
}

.pagination ul li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: var(--color-blue);
}

.pagination ul li.pagination-fs {
    margin: 0 1.5rem !important;
    border-radius: 1.2em;
    background-color: var(--color-textWhite);
}

.pagination-list-fi {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.pagination-list-la {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.active {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: red;
    border-radius: 1.3em;
    color: var(--color-textWhite);
}

.pagination-fs a {
    padding: 0.7rem 0.5rem !important ;
}

/*  */
