:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.forum {    
    background-color: var(--color-textWhite);
    display: flex;
    align-items: center;
    padding: 0.9rem 0;
    border-radius: 1rem;
    width: 94%;   
    margin-left: 1rem;
    margin-bottom: 1rem;
}                                                                                                                                           

.forum img {
    width: 2.5rem;
    border-radius: 50%;
    float: left;
    margin-left:2rem;
}
.forumm-input {
    background-color: var(--color-input);
    width: 85%;
    margin-left: 1rem;
    padding: 0.4rem 0;
    border-radius: 2rem;
}

.forum input {
    background-color: transparent;
    width: 80%;
    font-size: 0.9rem;
    float: left;
    margin-left: 1.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    text-align: start;
}

.forum a{
    text-decoration: none;
    color: var(--color-blue);
    float: right;
    margin-right: 1rem;
    font-size: 1.3rem;
}

.forum-coment {
    display: block;
    background-color: var(--color-textWhite);
    border-radius: 1rem;
    width: 94%;
    margin-left: 1rem;
    margin-bottom: 28px;
    padding-top: 12px;;
}



.forum-avatar-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.3rem;
    margin: auto;
}

.forum-avatar-user img {
    margin-right: 1rem;
}

.forum-avatar-user img {
    height:2.3rem;
    border-radius: 50%;
}

.forum-avatar-user .forum-avatar-name a {
    text-decoration: none;
    margin: auto;
}

.forum-avatar-user .forum-avatar-name a p {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1rem;
    margin-bottom: 0.2rem;
}

.forum-avatar-user .forum-avatar-name h5 {
    margin: auto;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-text);
}
.forum-header h5 {
    margin: 0.5rem 0px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #4c4b4b;
    padding-left: 1.6rem;
    line-height: 1.2rem;
}

.forum-file {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.forum-file button{
    background-color:var(--color-input);
    border: none;
    border-radius:1rem;
    width: 10rem;
    height: 2rem;
    margin-left: 1.4rem;
    margin-bottom: 1rem;
}
.forum-file button a {
    text-decoration: none;
    color: #5c5a5a;
    font-size: 0.78rem;
}

.forum-file button:nth-child(2){
    margin-left: 0.5rem;
}

.forum-file button:hover {
    cursor: pointer;
}


.learn {
    display: block;
    background-color: var(--color-textWhite);
    border-radius:1rem;
}

.learn-border {
    display: block;
    margin-left: 1.2rem;
    padding: 0.8rem 0;
    margin-right: 1.2rem;
}

.learn-border h3 {
    font-weight: 600;
    color: #125697;
    font-size: 1.1rem;
    margin: auto;
    padding-bottom: 0.8rem;
}

.learn-search {
    display: flex;
    width: 100%;
    background-color:var(--color-input);
    border-radius:1rem;
}

.learn-search input {
    background-color: transparent;
    border: none;
    padding: 1rem;
    outline: none;
}

.learn-search a {
    text-decoration: none;
    padding: 0.5rem;
}

.learn-search a span {
    font-size: 30px;
    color: var(--color-blue);
}

.learn-border a {
    text-decoration: none
}

.learn-border a p {
    color: var(--color-blue);
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.6rem 0 0.6rem 0;
}

.learn-info {
    display: block;
    border-top: 1px solid #e7ebed;
    padding: 0.5rem 0 0.8rem 0;;
}

.learn-info p {
    font-size: 0.9rem;
    color: #7e7d7d;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0;
    padding: 0;
}

.pagination ul  li.pagination-fs ,
.pagination ul  .pagination-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(226 226 239);
}

.pagination ul  li a {
    display: flex;
    text-decoration: none;
    justify-content:center;
    align-items: center;
    padding: 0.625rem 1.5rem;
    color: var(--color-blue);
}


.pagination ul  li.pagination-fs {
    margin: 0 1.5rem!important; ;
    border-radius:1rem;
    background-color: var(--color-textWhite);
}

.pagination-list-fi {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.pagination-list-la {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.active{
    display: flex;
    text-decoration: none;
    justify-content:center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: red;
    border-radius: 1rem;
    color: var(--color-textWhite)
}

.pagination-fs a {
    padding: 0.65rem 0.6rem !important ;
}