:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contai-form {
    display: grid;
    grid-template-columns: 16% 84%;
    background-color: var(--color-blue);
    height: 100vh;
}

.wapper-form {
    height: 100%;
    border-radius: 35px 0 0 35px;
    background-color: var(--color-background) !important;
}

.side-bar {
    height: 100%;
    position: relative;
    padding: 10px 0;
}

.logo {
    display: grid;
    grid-template-columns: 10% 30% 60%;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.name-website {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.name-website > div > p:nth-child(1) {
    font-size: 1.3em;
    font-weight: 700;
}

.name-website > div > p:nth-child(2) {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 3px;
}

.menu-side-bar .list-items {
    position: relative;
    list-style: none;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}

.menu-side-bar .list-items .items-menu a {
    color: white;
    width: 100%;
    display: block;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.icon-side-bar {
    font-size: 20px;
}

.items-menu a .icon-side-bar {
    position: relative;
    display: block;
    min-width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.items-menu a .items-content {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.items-menu.active {
    background-color: var(--color-background);
    border-radius: 40px 0 0 40px;
}

.items-menu.active a {
    color: black !important;
    font-weight: 700 !important;
}

.info-more {
    padding-left: 20px;
    margin-top: 0.9em;
    color: white;
}

.info-more > p {
    font-size: 13px;
}

.items-menu {
    position: relative;
}

.items-menu > b:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    background-color: var(--color-background);
    display: none;
}

.items-menu > b:nth-child(1)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 25px;
    background-color: var(--color-blue);
}

.items-menu > b:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -20px;
    background-color: var(--color-background);
    display: none;
}

.items-menu > b:nth-child(2)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    border-top-right-radius: 25px;
    background-color: var(--color-blue);
}

.items-menu.active > b:nth-child(1),
.items-menu.active > b:nth-child(2) {
    display: block;
}

#frame {
    margin-top: -438px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
