* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}
p {
    margin: 0;
}
.background-content {
    height: 100vh;
    width: 100%;
    background: url("./image/Background_login.png") top center / cover no-repeat;
    position: relative;
}
.form-login {
    overflow: hidden;
    box-shadow: 0 0 10px rgb(172, 172, 172);
    border-radius: 5px;
    height: 520px;
    width: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.shapes {
    width: 100%;
    height: 26%;
    background: var(--color-blue);
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.shapes::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-left: 215px solid transparent;
    border-right: 230px solid transparent;
    border-top: 40px solid var(--color-blue);
}
.logo-name {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 35px;
}
.logo-name img {
    width: 25%;
    margin-bottom: 5px;
}
.logo-name p {
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.wapper-form {
    text-align: center;
    padding: 0 85px;
}
.con-input {
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 7px 0;
    text-align: left;
    margin-top: 8px;
}
.con-input input {
    border: none;
    outline: none;
}
.con-input i {
    font-size: 16px;
    color: var(--color-blue);
    padding-right: 5px;
}
::placeholder {
    font-size: 15px;
}
.tools {
    text-align: left !important;
}

.sign-in {
    background-color: var(--color-blue);
    text-transform: uppercase;
}

.sigin-in-orther {
    background-color: var(--color-red);
}

.group-button {
    margin-top: 10px;
}

.button {
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: 100%;
    margin: 5px 0;
    border-radius: 30px;
    border: none;
    padding: 10px 0;
}

.tools a {
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
}

.info-more {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-more p {
    font-size: 13px;
    font-weight: 600;
}

.email p {
    color: var(--color-blue);
}

.email span,
.info span {
    font-size: 12px;
    color: gray;
}

.info {
    text-align: right;
}
