* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}

.info-top {
    color: white;
    border-radius: 15px;
    background-color: #22ac93;
    margin-bottom: 20px;
    position: relative;
}
.info-top::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #22ac93;
}

.contai-form-point,
.contai-form-info {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.contai-form-info span {
    color: var(--color-background);
    font-size: 0.8em;
}
.contai-form-info h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.contai-form-info a {
    color: white;
    font-size: 0.8em;
}
.border-point {
    border: 1.5px solid white;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0;
}
.number-point {
    font-size: 35px;
    font-weight: 600;
    border-right: 1.5px solid white;
}
.text-point {
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
}
.number-point,
.text-point {
    padding: 0 20px;
}

.contai-form-table {
    overflow: hidden;
    border-radius: 20px;
}
.table-striped {
    width: 100%;
}
.head-table tr {
    border-bottom: 2px solid var(--color-blue);
    color: var(--color-textWhite);
    line-height: 40px;
    text-align: center;
    background-color: var(--color-blue) !important;
}
.head-table tr th {
    text-align: start;
    font-weight: 400;
    font-size: 13px !important;
}
td:nth-child(2) {
    font-weight: 500;
    font-size: 1em;
}
.head-table tr th:nth-child(1) {
    text-align: center;
}

tbody tr td:nth-child(1) {
    text-align: center;
}

.info-right {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(206, 206, 206);
}

.info-user {
    text-align: center;
    margin: 20px 0;
}

.info-user p {
    margin-bottom: 0;
}
.info-user .name {
    font-size: 15px;
    font-weight: 500;
}
.info-user .position {
    font-size: 12px;
    color: var(--color-text);
}
.info-user a {
    color: rgb(86, 132, 231);
    font-size: 12px;
}
.rank,
.point {
    border: 1px solid rgb(224, 224, 224);
    margin: 10px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0;
}

.rank .number-point,
.point .number-point {
    border-right: 1px solid rgb(230, 230, 230);
    color: rgb(190, 51, 51);
}

.rank .text-point,
.point .text-point {
    color: rgb(104, 104, 104);
    font-weight: 700 !important;
}
