:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
    --color-input: #e5e2e2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.exam {
    display: block;
    background-color: white;
    height: 93vh;
    margin: 22px;
    border-radius: 24px;
}

.exam-nav {
    display: block;
}

.exam .exam-name {
    display: block;
    padding-top: 32px;
    padding-bottom: 16px;
    margin-left: 36px;
}

.exam .exam-name p{
    color: #053b9d;
    font-size: 1rem;
    font-weight: 600;
}

.exam-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-right: 36px;
    margin-left: 36px;
    border-bottom: 1px solid #dedede;
}

.exam-info-name,
.exam-info-id,
.exam-info-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-info-name h5,
.exam-info-id h5,
.exam-info-date h5 {
    font-size: 0.8rem;
    color: #1f61a8;
    font-weight: 600;
}

.exam-info-name h6,
.exam-info-id h6,
.exam-info-date h6 {
    font-size: 0.8em;
    color: #5c5c5c;
    font-weight: 400;
}

.exam-learn {
    display: block;
    padding-top: 28px;
    margin-left: 38px;
}

.exam-learn h3 {
    color: #1f61a8;
    font-weight: 500;
    font-size: 0.83rem;
}

.exam-learn p {
    color: #645e5e;
    font-weight: 400;
    line-height: 19px;
    font-size: 0.8rem;
    padding-top: 8px;
}

.exam-check {
    display: block;
    padding-left: 38px;
}

.exam-check-header p {
    padding-top: 20px;
    color: #1f61a8;
    font-weight: 500;
    font-size: 0.83rem;
    padding-bottom: 4px;
}

.form-check {
    padding: 4px 0;
}

.form-check-label {
    font-size: 0.8rem;
    font-weight: 300;
}
.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 38px;
    position: absolute;
    bottom: 10%;
}

.pagination a {
    color: var(--color-blue);
    padding: 10px 24px;
    text-decoration: none;
    transition: background-color 1s;
    border: 1px solid var(--color-input);
    border-radius: 16px;
    margin-right: 8px;
    font-size:0.8rem;
    font-weight:500;
  }


  /* 1/4 */


.exam-user {
    display: block;
    background-color: white;
    height: 93vh;
    border-radius: 24px;
    margin-top: 22px;
    margin-right: 28px;
}

.exam-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;;
}

.exam-time-boder {
    display: flex;
    align-items: center;
    padding-top: 28px;
}

.set-boder {
    display: flex;
    border: 1px solid var(--color-input);
    border-radius: 16px;
    padding: 4px 0;
}


.exam-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    border-right: 1px solid var(--color-input);
}


.exam-cout-down {
    display: block;
    margin-right: 32px;
}

.time-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    padding: 0 16px;
    font-weight: 600;
}

.time-header p {
    font-size: 0.75rem;
    color: var(--color-text);
}

.time-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: var(--color-red);
    font-weight: 600;
    margin-right: 20px;
}


/* text */
.exam-question-number {
    display: block;
    padding-bottom: 20px;
}

.exam-check-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    margin: 0 16px;
}

.exam-check-question h5 {
    color: var(--color-blue);
    font-size: 0.75rem;
    font-weight: 500;
}


.exam-check-question h6 {
    font-size: 0.8rem;
    color: var(--color-text);
    font-weight: 500;
    
}



/* number  */
.exam-numbers { 
   padding: 0 14px;
}

.exam-numbers  ul {
}

.exam-numbers ul li {
    list-style: none;
    display:inline-flex;
    height: 34px;
    width: 34px;;
    border: 1px solid var(--color-blue);
    border-radius:5px;
    margin: 2px;
    text-align: center;

}

.exam-numbers ul li span {
    margin: auto;
    font-size: 0.8rem;
    color: var(--color-blue);
    font-weight: 500;
}



.exam-active {
    background-color: var(--color-blue);
}

.exam-active span {
    color: white !important;
}




/* nít send */

.exam-succes{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 10%;
    margin-left: 22px;
}

.exam-succes a {
    color: var(--color-textWhite);
    text-decoration: none;
    transition: background-color 1s;
    border: 1px solid var(--color-input);
    border-radius: 24px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: var(--color-blue);
    padding: 16px 72px;
}


 