* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --color-textWhite: #fefefe;
    --color-text: #646464;
    --color-red: #ab0000;
    --color-blue: #0054a5;
    --color-background: #f2f2f2;
}

.con-form-search {
    margin-top: 10px;
    background: white;
    width: 100%;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.folder-library {
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid rgb(218, 218, 218);
}

.fa-briefcase {
    color: var(--color-red);
    line-height: 45px;
}

.folder-library > span {
    padding: 10px;
    font-size: 14px;
}

.fa-angle-down {
    float: right;
    line-height: 45px;
    padding-right: 20px;
    font-size: 20px;
    color: rgb(216, 216, 216);
}

.search-folder {
    height: 100%;
    line-height: 45px;
}

.search-folder input {
    outline: none;
    border: none;
    width: 80%;
    height: 100%;
}

.button-search {
    height: 100%;
    width: 19%;
    background-color: var(--color-blue);
    color: var(--color-textWhite);
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 45px;
}

.button-search:hover {
    cursor: pointer;
}

.fa-search {
    line-height: 35px;
    font-size: 1.2em;
    font-weight: 500 !important;
    padding-right: 10px;
}

::placeholder {
    color: rgb(192, 191, 191);
    font-size: 14px;
}

.con-card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(224, 224, 224);
    padding: 18px;
    width: 100%;
    text-align: center;
    position: relative;
}

li {
    list-style: none;
}

.con-card .desc {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.title {
    color: var(--color-blue);
    font-size: 1.15em;
    font-weight: 600;
}

.list-icon {
    margin: 0 auto;
}

.con-icon {
    text-align: start;
    display: inline-block;
    padding-left: 10px;
    margin: 10px;
}

.con-icon i {
    color: var(--color-blue);
    font-size: 1em;
    margin: 3px;
}

.list-icon span {
    font-size: 0.8em;
    color: rgb(189, 189, 189);
    padding-left: 5px;
}

.fa-file-alt {
    color: var(--color-textWhite);
}

.fa-file-alt1 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #0194d9;
}
.fa-file-alt2 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #ffb940;
}
.fa-file-alt3 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #22ac93;
}
.fa-file-alt4 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #8bc741;
}
.fa-file-alt5 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #0393d9;
}

.librabry-content {
    margin-top: 1.5em;
}

.button-download {
    margin: 20px 0;
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 30px;
    width: 80%;
    border: none;
    font-size: 14px;
    color: var(--color-textWhite);
}

.button-download:hover {
    cursor: pointer;
}

.fa-ellipsis-v {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: rgb(160, 160, 160);
}

/* pagination */

.pagination {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pagination ul li.pagination-fs,
.pagination ul .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(226 226 239);
}

.pagination ul li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: var(--color-blue);
}

.pagination ul li.pagination-fs {
    margin: 0 1.5rem !important;
    border-radius: 1.2em;
    background-color: var(--color-textWhite);
}

.pagination-list-fi {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.pagination-list-la {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.active {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: red;
    border-radius: 1.3em;
    color: var(--color-textWhite);
}

.pagination-fs a {
    padding: 0.7rem 0.5rem !important ;
}

/*  */
