* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Geneva;
}

ul {
    margin-bottom: 0;
}

.nav-top {
    color: white;
    background-color: #293a4a;
    padding: 2px 0;
    font-size: 15px;
}

.list-nav-top {
    list-style: none;
    display: flex;
}

.items-nav-top {
    cursor: pointer;
    padding: 6px 0;
    font-size: 14px;
}

.items-nav-top > span {
    padding: 0 10px;
}

.text-content {
    text-align: end;
}

.text-content > h3 {
    font-size: 25px !important;
    color: #e30007;
    margin: 0 0 25px 0;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.text-content > h5 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #a0595b;
    font-weight: 700;
}

.text-content > p {
    color: #404f65;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
}

.text-content > p > span {
    font-family: "arial";
}

.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #09b060;
}

.list-nav {
    font-size: 14px;
    list-style: none;
    /* display: flex; */
    color: white;
}

.item-nav-bar {
    padding: 12px 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.item-nav-bar > span {
    text-transform: uppercase;
}

.item-nav-bar > span {
    padding: 0 10px;
}

.item-nav-bar:hover {
    background-color: #089f59;
}

.menu-lv-2 {
    opacity: 0;
    pointer-events: none;
}

.item-lv-2 {
    position: relative;
}

.item-lv-2 > ul > li {
    padding: 10px;
}

.item-lv-2:hover ul {
    opacity: 1;
    height: 100%;
    align-items: center;
}

.item-lv-2 > ul {
    position: absolute;
    background-color: rgba(14, 117, 44, 0.685);
    opacity: 0;
    width: max-content;
    list-style: none;
    top: 0;
    left: 100%;
}

.fa-caret-right {
    position: absolute;
    right: 10px;
    top: 38%;
}

.item-nav-bar:hover .menu-lv-2 {
    opacity: 1;
    pointer-events: auto;
    transition: 0.35s ease-in-out;
}

.menu-lv-2 {
    background-color: rgba(14, 117, 44, 0.685);
    position: absolute;
    list-style: none;
    margin: 0;
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 3;
}

.item-lv-2 {
    padding: 10px;
}

.item-lv-2 > ul > li:hover,
.item-lv-2:hover {
    background-color: #000;
}

.icon-nav {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
}

.fa-search:hover {
    cursor: pointer;
}

.banner {
    background: url("/img/bg-about-us-banner.jpg") top center / cover no-repeat;
    padding-top: 20%;
    position: relative;
}

.text-banner {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.con-input {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 8px 10px;
    margin: 0 auto;
}

.con-input > input {
    background-color: transparent;
    border: none;
    width: 89%;
    outline: none;
}

.title {
    font-size: 30px;
}

.icon-banner {
    width: 9%;
    color: black;
    font-size: 20px;
}

::placeholder {
    font-size: 14px;
}

.service {
    margin-top: 10px;
}

.service img {
    cursor: pointer;
}

.con-service {
    text-align: center;
}

.con-card {
    height: 367px;
    overflow: hidden;
    width: 100%;
}

.con-card {
    overflow: hidden;
}

.wapper--:hover .image-card {
    transition: 0.25s ease-in-out;
    transform: scale(1.02);
    cursor: pointer;
}

.image-card {
    width: 100%;
    overflow: hidden;
}

.wapper-- {
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.title-card {
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

.contact {
    color: red;
}

.template-website {
    height: 230px;
    border: 1px solid rgb(122, 247, 122);
    border-radius: 5px;
    position: relative;
}

.title-tem {
    text-transform: uppercase;
    color: red;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.btn-learnmore {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: none;
    color: white;
    background-color: rgb(212, 34, 34);
    padding: 3px 6px;
    font-size: 12px;
}

.title-design {
    color: white;
    border-bottom: 1.5px solid rgb(60, 230, 97);
    padding-bottom: 10px;
}

.category-desgin {
    margin-top: 40px;
    padding: 30px 0;
}

.list-desgin > li {
    display: inline-block;
    font-size: 13px;
}

.list-desgin > li > a {
    color: #8fabc0;
}

.footer {
    background-color: #081a26;
}

.link-nav {
    color: #8fabc0;
    font-size: 14px;
}

.link-nav:hover {
    color: white;
    text-decoration: none;
}

.learn-more {
    color: white;
    font-size: 14px;
}

.learn-more:hover {
    color: white;
    text-decoration: none;
}

.text-content {
    color: #8fabc0;
    font-size: 14px;
}

.address-detail {
    margin-top: 10px;
    border-bottom: 2px solid #8fabc0;
}

.title-address {
    color: white !important;
}

.address-detail > p {
    color: #8fabc0;
    font-size: 14px;
}

.icon-footer {
    color: #8fabc0;
    font-size: 40px;
}

.socical {
    position: absolute;
    top: 0px;
    right: 20px;
}

.detail-company {
    position: relative;
}

.icon-footer:hover {
    color: rgb(145, 209, 49);
    transition: 0.25s ease-in-out;
}

.box-contact {
    display: flex;
    align-items: center;
}

.box-contact > p {
    margin: 0;
    background-color: rgb(135, 224, 209);
    border-radius: 5px;
    padding: 10px;
}

.box-contact > i {
    margin-left: 14px;
    font-size: 25px;
    background-color: gray;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

.box-contact > p:before {
    content: "";
    position: absolute;
    bottom: 18px;
    z-index: 3;
    right: 59px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(135, 224, 209);
}
